VITE_FIREBASE_API_KEY=AIzaSyDO8GMn0i2pYbwl4K_RifWhQXLqtH4u_UE
VITE_FIREBASE_AUTH_DOMAIN=architectural-renders.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=architectural-renders
VITE_FIREBASE_STORAGE_BUCKET=architectural-renders.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=229311854317
VITE_FIREBASE_APP_ID=1:229311854317:web:9b246ffca49b756f08bee4
VITE_FIREBASE_MEASUREMENT_ID=G-3S4GC0DVQH
